/* @font-face {

font-family: 'Averia Libre', cursive;

  font-style: normal;
  font-weight: 400;
 
  src: local('Averia Libre'), local('AveriaLibre'),
       url('./fonts/fonts/Averia_Libre/AveriaLibre-Bold.ttf') format('truetype'), 
       url('./fonts/fonts/Averia_Libre/AveriaLibre-BoldItalic.ttf') format('truetype'), 
       url('./fonts/fonts/Averia_Libre/AveriaLibre-Light.ttf') format('truetype'), 
       url('./fonts/fonts/Averia_Libre/AveriaLibre-LightItalic.ttf') format('truetype'), 
       url('./fonts/fonts/Averia_Libre/AveriaLibre-Regular.ttf') format('truetype'),
       url('./fonts/fonts/Averia_Libre/AveriaLibre-RegularItalic.ttf') format('truetype');
      }*/
      @font-face {

        font-family: 'Fredericka the Great', cursive;
        
          font-style: bold;
          font-weight: 400;
         
          src: local('Fredericka the Great Regular'), local('FrederickatheGreat-Regular'),
               url('./fonts/fonts/Fredericka_the_Great/FrederickatheGreat-Regular.ttf') ; 
              }

             /*@font-face {

                font-family: 'Crimson Text', serif;
                
                  font-style: normal;
                  font-weight: 400;
                 
                  src: local('Crimson Text'), local('Crimson_Text'),
                       url('./fonts/fonts/Crimson_Text/CrimsonText-BoldItalic.ttf') format('truetype'),
                       url('./fonts/fonts/Crimson_Text/CrimsonText-Bold.ttf') format('truetype'),
                       url('./fonts/fonts/Crimson_Text/CrimsonText-Regular.ttf') format('truetype'),
                       url('./fonts/fonts/Crimson_Text/CrimsonText-RegularItalic.ttf') format('truetype'),
                       url('./fonts/fonts/Crimson_Text/CrimsonText-SemiBold.ttf') format('truetype'),
                       url('./fonts/fonts/Crimson_Text/CrimsonText-SemiBoldItalic.ttf') format('truetype')
                      }


                      @font-face {

                        font-family: 'Playfair Display', serif;
                        
                          font-style: normal;
                          font-weight: 400;
                         
                          src: local('Playfair Display'), local('Playfair_Display'),
                               url('./fonts/fonts/Playfair_Display/PlayfairDisplay-BlackItalic.ttf') format('truetype'),
                               url('./fonts/fonts/Playfair_Display/PlayfairDisplay-Black.ttf') format('truetype'),
                               url('./fonts/fonts/Playfair_Display/PlayfairDisplay-Bold.ttf') format('truetype'),
                               url('./fonts/fonts/Playfair_Display/PlayfairDisplay-BoldItalic.ttf') format('truetype'),
                               url('./fonts/fonts/Playfair_Display/PlayfairDisplay-Regular.ttf') format('truetype'),
                               url('./fonts/fonts/Playfair_Display/PlayfairDisplay-RegularItalic.ttf') format('truetype')
                              } */
 /* @import url('https://fonts.googleapis.com/css?family=Averia+Libre:300i|Crimson+Text:400i|Fredericka+the+Great|Playfair+Display&display=swap'); */

.App {
  text-align: center;
  background-image: url(./images/maleroom-background.png);

  background-repeat: no-repeat;
  background-size: cover;
 
 
  

}

/* .h1{
  font-size: 150px; 
} */
.App-header {
  margin: 40px;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
  
}

/* Container{
  margin: 10px;
  padding-bottom: 10px;
} */

a{
  padding-left: 50px;
    padding-right: 50px;
  padding-top: 50px;
}

.card{
  display:"flexbox" ;
  width: 100%;
  font-size: 20px;
  font-weight: bolder;
  padding: 20px;
 margin-bottom: 5%;
  opacity: .8;
  color: black;
  font-family: 'Fredericka the Great', cursive;
  box-shadow: 0px 0px 10px black;
 
}
#flyer{
  width: 100%;
}
  

#acEvents{
  height: auto;
    width:30%;
}

#Navbar{
  box-shadow: 0px 3px 10px black;
}
.container{
  justify-content: space-around;
  
}
/* a.nav-link :hover{
  color: white;
} */

#ticket{
  width: 120px;
  height: auto;
  min-width: 20%;
}

.Player{
  /* margin:5%; */
  padding:1em;
  box-shadow: 0px 0px 10px 5px;
}
.App-header>.Player{
  margin: 40px;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
}


.Map{
  
  width: 30%;
  height: auto;
  display: flex;
}
.Info{
  margin-top: 5%;
 margin-bottom: 5%;

 justify-content: space-around;
}

.footer{
  display: flex;
  align-items: center;
  justify-content: center;
 
}

